<!DOCTYPE html>
<html>
	<head>
		<title>enduro.js netlify starter template</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
	</head>
	<body>
		<div class="panel">

			<div style="text-align: center;">
				<img src="https://s3-eu-west-1.amazonaws.com/enduro.website/direct_uploads/1488293175_netlify_feelsgood_horizontal.png" alt="">
			</div>

			<br>
			<br>
			<br>


			<h1>Your first enduro.js page hosted by Netlify</h1>

			<h2>Check out the source code to get a short intro on enduro.js</h2>

			<hr>

			<h3>You can use {{templating_engine}} - the context is located at `/cms/index.js`</h3>

			<hr>

			<h3>You have sass built-in</h3>

			<hr>

			<h3>You can use some built-in helpers:</h3>
			<ul>
				{{#times 5}}
					<li>This is here 5 times</li>
				{{/times}}
			</ul>

			<hr>

			<h3>You can use nice admin interface when you run this locally</h3>

			<hr>

			<h3>Netlify will rebuild and republish your website as soon as you update the git repository on github.</h3>
		</div>
	</body>

	{{!-- <script data-main="/assets/js/main.js" src="/assets/vendor/requirejs/require.js"></script> --}}
</html>